<% provide(:title, "About") %>


<p>Wagonnag is a way to keep track of maintenance of your car. Use it to maintain your car correctly so that you can decrease the chance of it dying on you when you need it the most. </p>
