<div class="center jumbotron">
  <h1>Welcome to Wagonnag</h1>

  <h2>
    Keep that engine light off by maintaining your car correctly.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>