<% provide(:title, @user.name) %>
<div class="cars">
  <% if @user.cars.any? %>
      <h3>Cars (<%= @user.cars.count %>)</h3>
      <%= render @user.cars %>
  <% end %>
  <div class="car">
    <%= link_to "Add a new car", new_car_path %>
  </div>
</div>