<% provide(:title, 'Edit Maintenance Item') %>
<%= link_to "Back to car", car_path(@maintenanceItem.car), class: "back-link" %>
<h1>Edit new maintenance item</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render :partial => 'form', :locals => { :submitButtonText => 'Save Changes' } %>
  </div>
</div>