<div class="maintenance-item">
  <span class="name"><%= @maintenanceItem.name %></span>
  <span class="description"><%= @maintenanceItem.description %></span>
  <span class="interval"><%= @maintenanceItem.interval %></span>
  <span class="last-maintained-odometer"><%= @maintenanceItem.last_maintained_odometer %></span>
</div>