// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.car {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.car .name {
  font-size: 1.5em;
}

.odometer {
  display: block;
}

.description {
  font-style: italic;
}

.car .odometer-value.updated::after {
  content: "(Updated)";
  color: green;
}

.car.update-odometer .odometer {
  display: none;
}

.car.update-odometer .odometer-value.updated::after {
  content: "";
}

.car.update-odometer .update-odometer-link {
  display: none;
}

.car .expired-maintenance-items-title {
  font-size: 1.1em;
  margin-top: 10px;
}