// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.car {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.car .name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.car .header {
  margin-bottom: 10px;
}

.odometer {
  display: block;
}

.description {
  font-style: italic;
}

.car .odometer-value.updated::after {
  content: "(Updated)";
  color: green;
}

.car.update-odometer .odometer-value {
  display: none;
}

.car .odometer .cancel-changes-icon {
  display: none;
}

.car .odometer .form-container {
  display: none;
}

.car.update-odometer .update-odometer-link {
  display: none;
}

.car.update-odometer .odometer .cancel-changes-icon {
  display: inline-block;
}

.car.update-odometer .form-container,
.car.update-odometer .form-container form,
.car.update-odometer .form-container input {
  display: inline-block;
}

.car.update-odometer .form-container input {
  width: 100px;
  margin-bottom: 0;
  margin-right: 10px;
}

.car.update-odometer .form-container .save-icon {
  margin-left: 10px;
}

.car .expired-maintenance-items-title {
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.car .maintenance-item.due-for-checkup .name {
  color: red;
  font-size: 1em;
}

@media(min-width: 641px) {
  .car {
    width: auto;
    margin-right: 10px;
  }

  .show-car .car {
    display: inline-block;
  }

  .car .maintenance-item {
    width: auto;
    margin-right: 10px;
  }
}