// Place all the styles related to the MaintenanceItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maintenance-item {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.maintenance-item .name {
  font-size: 1.25em;
}

.maintenance-item.due-for-checkup {
  border-color: red;
  border-width: 2px;
}

.maintenance-item.due-for-checkup .due-for-checkup-message {
  color: red;
}

@media(min-width: 641px) {
  .maintenance-item {
    width: auto;
    margin-right: 10px;
  }
}