// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cars,
.maintenance-items.expired
{
  display: inline-block;
  width: 45%;
  vertical-align: top;
  padding: 10px;
}

.full-width {
  width: 100%;
}