<%= form_tag({controller: 'cars', action: 'update_odometer'}, { method: 'post', remote: true}) do %>
    <%= hidden_field_tag(:car_id, @car.id) %>
    <%= text_field_tag(:odometer, nil, placeholder: @car.odometer) %>
    <span class="glyphicon glyphicon-floppy-disk save-icon icon"></span>
<% end %>